
@{
    ViewData["Title"] = "SuccessfullCheckOut";
}


<div class="alert alert-success">

  <p>Sipariş işlemi başarılı bir şekilde gerçekleşti</p>
  <p>Sipariş no:@ViewBag.orderId</p>
</div>
<a class="btn btn-primary" asp-action="Index" asp-controller="Home">Anasayfa</a>

